<!-- Activity details page -->

<h1> <%= @place["name"]%> </h1>




  <% for entry in @entries %>
    
       <strong> <%= entry["title"] %> </strong><br>
       <small> <%= entry["description"]%></small><br>
       <small> <%= entry["posted_on"]%> </small><br>
    
  <% end %>

  
  <p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New entry</a>
  </p>