<!-- Activity details page -->

<h1> <%= @place["name"]%> </h1>

<h2>Activities</h2>

<ul>
  <% for entry in @entries %>
    <li>
        <%= entry["title"] %>, 
        <%= entry["description"]%>,
        <%= entry["posted_on"]%>
    </li>
  <% end %>
</ul>
  
  <p>
  <a href="/entries/new?place_id=<%= @place["id"] %>">New entry</a>
  </p>